.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #2E383F;
}

h1 {
  margin: 30px;
  font-family: 'Merriweather', serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2.8rem;
  color: #4ECCA3;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 75%;
}


