.container {
  width: 100%;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background: #2C3333;
  color: #fff;
}

h1 {
  margin: 30px;
  font-family: 'Merriweather', serif;
  text-shadow: 5px 0 #2C3333;;
  font-size: 6rem;
}

p {
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 75%;
}

footer p{
  font-size: 1.5rem;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 2rem;
  }

  h1 {
    margin: 40px;
    font-size: 3rem;
  }

  img {
    width: 65%;
  }
  
}


